extends ./layout/_default.pug
block variables
	- var title = 'Tonya‘s profile'
	- var description = 'This is Tonya\'s Profile'
	- var prefix = FILE_PREFIX
	//- - var extraCSS = [FILE_PREFIX+'css/carousel.css']
	- var imgPrefixUrl = IMG_PREFIX_URL


block content
	-
		var tlList = [
			{
				id: '1',
				companyName: 'NEUTEC',
				headline: 'Senior Front-End Dynamic Designer',
				date: 'May 2020 - Present · 3 yrs 8 mos',
				type: 'Taipei Taiwan · Hybrid',
				describe: 'XXXX',
				content: [
					'- Enhance 30% productivity by coaching the Design team using F2E tool Angular.',
					'- Evaluate and recommend design solutions and help guide team decision making.',
					'- Partner closely with engineering to design and build new features.',
					'- Devoted to dynamic website development with new creative technology.',
					'- Managed a dashboard project using the data visualization tool eCharts.',
				],
			},
			{
				id: '2',
				companyName: 'Titansoft Pte Ltd',
				headline: 'Interactive Web Designer',
				date: 'Apr 2018 - Apr 2020 · 2 yrs 1 mo',
				type: 'Taipei Taiwan',
				describe: 'XXXX',
				content: [
					'- Create an Interactive Design to delight a game UI.',
					'- Create a front-end Template System, in order to make periodical Champion page more efficiently',
					'- Implement RWD Web Game UI by Using Html, Sass.',
					'- Cooperate with developer by using Vue, Git to build a layout on front-end projects',
					'- Debug with developer on front-end environment and notify the layout to achieve an ideal design layout.',
					'- Helping UX reseacher to writing JS on GA platform to complete AB testing',
				],
			},
			{
				id: '3',
				companyName: 'BenQ Corporation',
				headline: 'UI/UX Designer',
				date: 'Jun 2016 - Mar 2018 · 1 yr 10 mos',
				type: 'Taipei Taiwan',
				describe: 'XXXX',
				content: [
					'- Enhance 30% productivity by coaching the Design team using F2E tool Angular.',
					'- Evaluate and recommend design solutions and help guide team decision making.',
					'- Partner closely with engineering to design and build new features.',
					'- Devoted to dynamic website development with new creative technology.',
					'- Managed a dashboard project using the data visualization tool eCharts.',
				],
			},
			{
				id: '4',
				companyName: 'Cite Publishers',
				headline: 'Web Designer',
				date: 'Apr 2014 - May 2016 · 2 yrs 2 mos',
				type: 'Taipei Taiwan',
				describe: 'XXXX',
				content: [
					'- Build RWD sites with PS/html/css',
					'- Set guidelines for new membership platform',
					'- Solve UX & UI challenges for usability',
					'- Work with developer and PM on web projects',
				],
			},
			{
				id: '5',
				companyName: 'En Jun International CO., LTD.',
				headline: 'Visual Designer',
				date: 'Nov 2012 - Mar 2014 · 1 yr 5 mos',
				type: 'Taipei Taiwan',
				describe: 'XXXX',
				content: [
					'- Build RWD sites with PS/html/css',
					'- Set guidelines for new membership platform',
					'- Solve UX & UI challenges for usability',
					'- Work with developer and PM on web projects',
				],
			},
		];
	-
		var rwList = [
			{
				id: '1',
				companyName: 'GOOGLE X COURSERA',
				headline: 'Google Data Analytics Professional Certificate',
				date: 'Sep 2021 - Oct 2023',
				type: 'Online Course',
				describe: 'XXXX',
				content: [
					'- Foundations: Data, Data, Everywhere.',
					'- Ask Questions to Make Data-Driven Decisions.',
					'- Prepare Data for Exploration.',
					'- Process Data From Dirty to Clean.',
				],
			},
			{
				id: '2',
				companyName: '​​悠識數位',
				headline: '產品經理系列課程 – 產品數據分析與關鍵指標設計',
				date: '2018/6/9',
				type: 'Offline Course',
				describe: 'XXXX',
				content: [
					'- Foundations: Data, Data, Everywhere.',
					'- Ask Questions to Make Data-Driven Decisions.',
					'- Prepare Data for Exploration.',
					'- Process Data From Dirty to Clean.',
				],
			},
			{
				id: '3',
				companyName: 'PIXNET',
				headline: 'PIXNET Hackathon 2015',
				date: '2015/8/1',
				type: 'Hackathon',
				describe: 'XXXX',
				content: [
					'- Foundations: Data, Data, Everywhere.',
					'- Ask Questions to Make Data-Driven Decisions.',
					'- Prepare Data for Exploration.',
					'- Process Data From Dirty to Clean.',
				],
			},
		];
	.content.content__profile
		.content__profile__section.content__profile__sec1
			.summery-box.summery-box--left
				.summery-box__photo
					img(src='/images/photo.jpg')
				.summery-box__descrip
					.summery-box__descrip__title Senior Front-End Dynamic Designer
					.summery-box__descrip__tool
			.summery-box.summery-box--right
				.summery-box__title
					h2 Hi, I'm
					h1 Tonya Lee
					h3 Designer x Developer
					p Strong passion to make a cross to front-end developing. High awareness and empathy to maximize user benefits in design practice. Blending designers’DNA into my daily exposures to languages including HTML, CSS and JS.

		.content__profile__section.content__profile__sec2
			.timeline-box
				.timeline-box__title.title
					h4.split Skill &amp; Experience
				.timeline-box__content
					ul.timeline-box__list
						each item, index in tlList
							li(class='stagger-item tl-list tl-list-' + item.id)
								.tl-list__deco
								.tl-list__wrap
									.tl-list__headline #{item.headline}
									.tl-list__companyName #{item.companyName}
									.tl-list__date #{item.date}
									.tl-list__type #{item.type}
									.tl-list__content
										each point, i in item.content
											.tl-list__content__point #{point}


		.content__profile__section.content__profile__sec3
			.rewards-box
				.rewards-box__title
					h4 Honors &amp; Awards
				.rewards-box__content
					//- ul.rewards-box__list
					//- 	each item, index in rwList
					//- 		li(class='rw-list rw-list-' + item.id)
					//- 			.rw-list__deco
					//- 			.rw-list__wrap
					//- 				.rw-list__headline #{item.headline}
					//- 				.rw-list__companyName #{item.companyName}
					//- 				.rw-list__date #{item.date}
					//- 				.rw-list__type #{item.type}
					//- 				.rw-list__content
					//- 					each point, i in item.content
					//- 						.rw-list__content__point #{point}